<div id="ending-modal" class="modal">
  <div class="modal-content">
    <h4 class="center"></h4><p class="center"></p>
  </div>
  <div class="modal-footer">
    <a id="retry-btn" href="/game" class="modal-action modal-close btn-flat okay-btn">Retry</a>
  </div>
</div>
