<div id="hint" class="modal">
  <div class="modal-content">
    <h4 class="center">Hint!</h4>
    <p>
      Have you tried selecting <span style="color:red">more than one</span> alien? If one of them is a liar, what
      can we expect the effect of this to be?
    </p>
  </div>
  <div class="modal-footer">
    <a id="okay-btn" href="#" class="modal-action modal-close btn-flat okay-btn">Gotcha!</a>
  </div>
</div>
