<div id="info" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="center">Pies, Lies, and Galaxies</h4>
    <p>
      You have travelled far to this remote space diner on the edge of the galaxy in search of the coveted
      <span style="color:red">Pie of Life</span>, said to grant eternal life. Unfortunately, this diner serves other
      pie as well, said to be only moderately delicious and leave one with a feeling of
      <span style="color:red">vague discomfort</span>. To accidentally consume the wrong pie would be a rather
      embarassing and costly slip indeed.<br/><br/>Two alien beings - <span style="color:red">Zip</span> and
      <span style="color:red">Zap</span> - man the counter inside. According to locals, one is
      <span style="color:red">Veritopian</span>, who's home planet has a strict policy for honesty; the other is
      <span style="color:red">Misinformian</span>, who comes from a planet where lying is considered common courtesy.
      You are unsure which is which.<br/><br/>You only have enough space-time for a single piece of space-pie and the
      space-bus home, so space-choose wisely! Click an alien to ask it a question, providing a logical relation using
      the Build-a-Query tool at the bottom of the page. Then click <span style="color:blue">ASK</span>!
      <br/><br/>Note: Solving this in two or more queries is easy, but only a single query is needed if properly asked.
    </p>
  </div>
  <div class="modal-footer">
    <a id="okay-btn" href="#" class="modal-action modal-close btn-flat okay-btn">OKAY</a>
  </div>
</div>
