<div class="ratio-16-9 valign">
  <div class="game-container">
    <div class="game">

      <!-- Game Sprites -->
      <img src="images/sprites/zap-crop.gif" id="zap-img" class="tooltipped" data-position="top" data-tooltip="Ask zap"/>
      <img src="images/sprites/zip-crop.gif"  id="zip-img" class="tooltipped" data-position="top" data-tooltip="Ask Zip"/>
      <div class="pie-box">
        <img src="images/sprites/pink-pie.gif" class="pi-p tooltipped" id="red-pie" data-position="top" data-tooltip="Pick the red pie" />
        <img src="images/sprites/purple-pie.gif" class="pur-p tooltipped" id="purple-pie" data-position="top" data-tooltip="Pick the purple pie"/>
      </div>

      <!-- Restuarant counter -->
      <div class="counter">
        <img src="images/static/full-counter.png;" class="counter-img"/>
      </div>

      <!-- Top right corner buttons -->
      <div class="hud-box">
        <div class="row center">
          <a id="info-btn" class="btn btn-full bit-blue modal-trigger tooltipped" href="#info" data-position="left" data-tooltip="See the instructions again">
            info
          </a>
        </div>
        <div class="row center">
          <a id="help-btn" class="btn btn-full bit-purple tooltipped" data-position="left" data-tooltip="You can't figure it out on your own?">
            hint
          </a>
        </div>
        <div class="row center">
          <a id="give-up-btn" class="btn btn-full bit-red tooltipped" data-position="left" data-tooltip="BOOOOOOOO!">
            Give up
          </a>
        </div>
      </div>

      <!-- Query control -->
      <div class="query-section">
        <div class="row margin-override">
          <div class="col s9">
            <h6 id="askee-value" class="center">&lt;Clicking aliens includes them in the query&gt;</h6>
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class ="col s9">
            <input type="text" class="query-box tooltipped" id="query" readonly data-position="left" data-tooltip="Click to build a query"/>
          </div>
          <div class ="col s3 valign-wrapper">
            <button id="ask_button" class="btn btn-full btn-inline bit-light-blue valign">ask</button>
          </div>
        </div>
      </div>

      <!-- Dialog box -->
      <div class="response-container">
        <h5 class="white-text">Dialog:</h5>
        <div class="response">
          <textarea id="output_box" class="tooltipped" readonly data-position="bottom" data-tooltip="View the answers here"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Load modal partials  -->
<%= erb :'game/_info_modal' %>
<%= erb :'game/_hint_modal' %>
<%= erb :'game/_query_builder' %>
<%= erb :'game/_end_modal' %>

<input type=hidden id="function-call" value=""></input>
<script type="text/javascript" src="/javascript/application.js"></script>
