@font-face {
    font-family: 'bit'; /*a name to be used later*/
    src: url('../font/slkscr.ttf'); /*URL to font*/
}

html {
  font-family: 'bit';
}

body {
  background: url('../images/static/background.png');
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.counter {
  width: 100%;
  height: 18%;
  position: absolute;
  bottom: 0px;
  /*background: url('../images/static/full-counter.png') no-repeat;*/
  z-index: 5;
  overflow: hidden;
}

.under-counter {
  background: url('../images/static/counter.png');
  width: 95%;
  height: 85%;
  display: block;
  margin: 0 auto;
}

.counter-top {
  background: url('../images/static/countertop.png');
  width: 98%;
  height: 15%;
  display:block;
  margin: 0 auto;
  background-color: #78909c
}

.hud-box {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15%;
  padding: 15px;
  z-index: 100;
}

.questions-panel {
  width: 95%;
  background-color: white;
  padding: 10px;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px #cfd8dc, 0px -4px #cfd8dc, 4px 0px #cfd8dc, -4px 0px #cfd8dc;
}

button.center-btn {
  margin: 0 auto;
  display: block;
  width: 95%;
}

.query-section {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  background-color: rgba(255,255,255,0.0);
  z-index: 40;
}

input[type=text] {
  background-color: white;
  border: none;
  padding: 5px 15px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0px 5px #546e7a, 0px -5px #546e7a, 5px 0px #546e7a, -5px 0px #546e7a;
  font-family: 'Ubuntu Mono';
}

input[type=text]:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: 0px 5px #455a64, 0px -5px #455a64, 5px 0px #455a64, -5px 0px #455a64;
  font-family: 'Ubuntu Mono';
}

.full-container {
  width: 100%;
  height: 100%;
}

.aliens {
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  bottom: 0px;
  z-index: 4;
}

.aliens.alien-box {
  width: 30%;
  height: 100%;
  display: inline-block;
}

.aliens.food-box {
  width: 40%;
  display: inline-block;
}

img.alien-img {
  width:100%;
}

img.food-img {
  width:100%;
}

#zip {
  position: absolute;
  width: 15%;
  bottom: 50px;
  left: 30%;
  cursor: pointer;
}

#zap {
  position: absolute;
  width:15%;
  bottom: 50px;
  right: 30%;
  cursor: pointer;
}

.info-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}

.medium {
  font-size: 2.5em !important;
}

.pie-box {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 35%;
  border-bottom: 10px solid #4C4C4C;
  box-shadow: 0 10px 0 #383838;
}

.pi-p {
  width: 30%;
  margin: 0;
  display: inline;
  float: left;
  cursor: pointer;
  margin-left: 30px;
}

.pur-p {
  width: 30%;
  margin: 0;
  display: inline;
  float: right;
  cursor: pointer;
  margin-right: 30px;
}

.btn {
  border-radius: 0;
}

#give-up-btn {
  box-shadow: 0px 4px #d50000, 0px -4px #d50000, 4px 0px #d50000, -4px 0px #d50000;
}

#ask_button {
  box-shadow: 0px 4px #0091ea, 0px -4px #0091ea, 4px 0px #0091ea, -4px 0px #0091ea;
}

#info-btn {
  box-shadow: 0px 4px #0091ea, 0px -4px #0091ea, 4px 0px #0091ea, -4px 0px #0091ea;
}

#help-btn {
  box-shadow: 0px 4px #7b1fa2, 0px -4px #7b1fa2, 4px 0px #7b1fa2, -4px 0px #7b1fa2;
}

.modal {
  border-radius: 0;
  box-shadow: 0px 10px #b0bec5, 0px -10px #b0bec5, 10px 0px #b0bec5, -10px 0px #b0bec5;
}

.response {
  height: 100%;
  background-color: white;
  box-shadow: 0px 4px #546e7a, 0px -4px #546e7a, 4px 0px #546e7a, -4px 0px #546e7a;
}

.response-container {
  position: absolute;
  width: 20%;
  height: 120px;
  top: 10px;
  left: 20px;
}

#output_box {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  padding: 10px;
}

#output_box:focus {
  outline: none;
}
