
<img src="images/sprites/zap-crop.gif" id="zap" class="tooltipped" data-position="top" data-tooltip="Ask zap"/>
<img src="images/sprites/zip-crop.gif"  id="zip" class="tooltipped" data-position="top" data-tooltip="Ask Zip"/>

<div class="pie-box">
  <img src="images/sprites/pink-pie.gif" class="pi-p tooltipped" id="red_pie" data-position="top" data-tooltip="Pick the red pie" />
  <img src="images/sprites/purple-pie.gif" class="pur-p tooltipped" id="purple_pie" data-position="top" data-tooltip="Pick the purple pie"/>
</div>

<div class="counter">
  <img src="images/static/full-counter.png;" style="width: 80%; position: absolute; left: 10%"/>
</div>

<div class="hud-box">
  <!-- <div class="row">
    <div class="questions-panel z-depth-1">
      <h6 class="center 8-bit">Please ask a question</h6>
    </div>
  </div> -->
  <div class="row">
    <a id="info-btn" class="btn waves-effect waves-light light-blue center-btn modal-trigger" href="#info" style="width: 100%;">
      info
    </a>
  </div>
  <div class="row">
    <a id="help-btn" class="btn waves-effect waves-light purple center-btn" style="width: 100%;">
      help!
    </a>
  </div>
  <div class="row">
    <a id="give-up-btn" class="btn waves-effect waves-light red center-btn" style="width: 100%;">
      Give up
    </a>
  </div>
</div>

<div id="info" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="center">Pies, Lies, and Galaxies</h4>
    <p class="center">
      red waistcoat roof party letterpress, +1 organic leggings keffiyeh poutine taxidermy seitan tofu. Schlitz messenger bag quinoa thundercats, tousled keffiyeh organic crucifix banjo leggings literally actually bespoke. Street art slow-carb gochujang, yr echo park flexitarian food truck ennui microdosing shabby chic truffaut normcore pabst polaroid. Wolf lomo tofu, occupy listicle beard selvage quinoa blue bottle lo-fi letterpress actually messenger bag. Intelligentsia vegan paleo blue bottle, tacos stumptown polaroid bicycle rights venmo flexitarian. Chartreuse sustainable cardigan artisan locavore tumblr. Gochujang venmo occupy PBR&B everyday carry fingerstache.

Ennui mlkshk pabst kogi, chillwave tumblr crucifix. Etsy chia cold-pressed, kitsch PBR&B aesthetic keffiyeh locavore tacos slow-carb yr typewriter taxidermy fingerstache. Keytar raw denim disrupt selfies, fanny pack tote bag 3 wolf moon heirloom you probably haven't heard of them cold-pressed master cleanse. Thundercats letterpress seitan, ramps bicycle rights forage chillwave. Cliche gentrify marfa try-hard schlitz, brooklyn whatever viral pabst plaid affogato. Chambray squid ugh vegan ethical pork belly pickled. Celiac seitan fingerstache pabst.
    </p>
  </div>
  <div class="modal-footer">
    <a id="okay-btn" href="#" class="modal-action modal-close waves-effect waves-green btn-flat okay-btn">OKAY</a>
  </div>
</div>


<div class="query-section valign">
  <h5 class="white-text" id="askee-value" style="background-color: black;">&lt;Clicking an alien assigns them a query&gt;</h5>
  <div class="row valign-wrapper">
    <div class ="col s9">
      <input type="text" class="query-box z-depth-2" id="query"/>
    </div>
    <div class ="col s3 valign-wrapper">
      <button id="ask_button" class="btn btn-inline light-blue lighten-2 valign waves-effect waves-light">ask</button>
    </div>
  </div>
</div>

<div class="response-container">
  <h5 class="white-text">Dialog:</h5>
  <div class="response">
    <textarea id="output_box" readonly></textarea>
  </div>
</div>
<input type=hidden id="function-call" value=""></input>
