<div class="counter">
  <div class="counter-top">
  </div>
  <div class="under-counter">
    <div class="full-container valign-wrapper">
      <div class="query-section valign">
        <div class="row valign-wrapper">
          <div class ="col s9">
            <input type="text" class="query-box z-depth-2" id="query"/>
          </div>
          <div class ="col s3 valign-wrapper">
            <button class="btn btn-inline light-blue lighten-2 valign">ask</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hud-box">
  <div class="row">
    <div class="questions-panel z-depth-1">
      <h6 class="center">Question: 1/3</h6>
    </div>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light green center-btn">
      Solve
    </button>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light red center-btn">
      Give up
    </button>
  </div>
</div>

<div class="output-box z-depth-2">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><span class="center">output</span></div>
      <div class="collapsible-body" style="background-color: white;">
        <textarea style="resize: vertical;" readonly>lknsg</textarea>
      </div>
    </li>
  </ul>
</div>
