<div class="start-screen">
  <div class="logo-button-container">
    <img src="images/static/logo.png" class="start-screen-logo"/>
    <div class="center">
      <a href="/game" id="start-btn" class="btn bit-blue">Start Game</a>
    </div>
  </div>
</div>
